<section class="intro">
  <h1>My Tarot API</h1>
  <p>This is a simple Tarot API that provides information based on AE Waite's <i>The Pictorial Key to the Tarot.</i></p>
</section>

<section class="endpoints">
  <h4>Endpoints</h4>
  <h5>1. Returns all the cards</h5>
  <code><a href="http://142.93.178.47/cards">http://142.93.178.47/cards</a></code>

  <h5>2. Returns a random number of cards</h5>
  <code>http://142.93.178.47/cards/random/:desired_number_of_cards</code>
  <p><b>example:</b></p>
  <code><a href="http://142.93.178.47/cards/random/3">http://142.93.178.47/cards/random/3</a></code>
</section>

<section class="about">
  <h4>About this project</h4>
  <p>I built this tiny project to practice building APIs the Rails' way, and to feed a <a href="https://github.com/vasconsaurus/cartas-app" target="_blank">React project</a> I'm working on.</p>
  <p>Special thanks to <a href="https://github.com/ekelen" target="_blank">Ekelen</a>, I used their data_card.yaml to seed my db, and have used their <a href="https://github.com/ekelen/tarot-api" target="_blank">tarot API</a> before.</p>
</section>

<section class="social">
  <h5>Say hi!</h5>
  <ul>
    <li><a href="https://github.com/vasconsaurus" id="profile-link" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/manu-vasconcelos/" id="profile-link" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
  </ul>
</section>

<script src="https://kit.fontawesome.com/e85e0c4e55.js" crossorigin="anonymous"></script>
